:root {
    --primary-color: #43a448;
    --secondary-color: #5a0424;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #a3efed51;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: var(--primary-color);
  }
  
  p {
    text-align: center;
  }
  
  .btn {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
  }
  

  
  .currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .currency select {
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    font-size: 16px;
  
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
  }
  
  .currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
  }
  
  .swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  


  .rate {
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 10px;
  }

  

  select:focus,
  input:focus,
  button:focus {
    outline: 0;
  }
  
  @media (max-width: 600px) {
    .currency input {
      width: 200px;
    }
  }



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #ba7c12;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  overflow: hidden;
  margin: 10px 0;
  cursor: pointer;
  
}


.add {
  background-position: center;
  transition: background 0.8s;
}

.add:hover{
  background-color: #7cba12;
  background-image: radial-gradient(circle,transparent 1% rgb(207, 147, 19));
  background-position: center;
  background-size: 15000;
}


.add:active {
  transition: background 0s;
  background-color: #ba7c12;
  background-size: 100%;
  transform: scale(0.98);
}





.note {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
}

.note .tools {
  background-color: #cda040;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}

.main {
  padding: 20px;
}

.hidden {
  display: none;
}

.Chat {

  position: sticky;
  left: 2000px;
  height: 30px;
  margin: 9px 8px;
  

}


.footer {
  position: sticky;
  left: 0px;
  color: var(--secondary-color);
  height: 90px
}